<script src="https://unpkg.com/flowbite@1.4.1/dist/datepicker.js"></script>
{% if form %}
    {{ form_start(form) }}
    
            <div class="mb-6">
                {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300'}}) }}
                {{ form_widget(form.nom, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700'}}) }}
            </div>
    
    
        <div class="mb-6">
            {{ form_label(form.telephone, 'Téléphone', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300'}}) }}
            {{ form_widget(form.telephone, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700'}}) }}
        </div>
        
    <div class="mb-6">
        {{ form_label(form.tags, 'Groupes', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300'}}) }}
        {{ form_widget(form.tags, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700'}}) }}
    </div>
        {{ form_widget(form.save, {'attr': {'class': 'mt-5 py-3 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-green-700 rounded-sm border border-gray-200 hover:bg-green-200 hover:text-gray-800 focus:z-10 focus:ring-4 focus:ring-gray-200'}}) }}
    {{ form_end(form) }}
{% endif %}
