<script src="https://unpkg.com/flowbite@1.4.1/dist/datepicker.js"></script>
{% if form %}
    {{ form_start(form) }}
    
            <div class="mb-6">
                {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300'}}) }}
                {{ form_widget(form.nom, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700'}}) }}
            </div>
    
    
        <div class="mb-6">
            {{ form_label(form.telephone, 'Téléphone', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300'}}) }}
            {{ form_widget(form.telephone, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700'}}) }}
        </div>
        
    <div class="mb-6">
        {{ form_label(form.tags, 'Groupes', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300'}}) }}
        {{ form_widget(form.tags, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700'}}) }}
    </div>
    <div class="grid grid-rows-2">
        <div class="col-6">
            <button id="membre_save" class="mt-5 py-3 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-green-500 rounded-sm border hover:bg-green-600 hover:text-gray-800 focus:z-10 focus:ring-4 focus:ring-gray-200" type="submit">
                Envoyer
            </button>
        </div>
        <div class="col-6">
            <button id="closemodal" class="mt-5 py-3 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-yellow-500 rounded-sm border hover:bg-yellow-600 hover:text-gray-800 focus:z-10 focus:ring-4 focus:ring-gray-200" type="button" data-modal-toggle="defaultModal">
                Annuler
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endif %}
