{% extends 'dash.html.twig' %}

{% block stylesheet %}
<link href="/assets/css/tom-select.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('membre_new') }}" class="mt-5 py-3 px-5 mr-2 mb-5 text-sm font-medium text-white rounded focus:outline-none bg-gray-700 rounded-sm border border-gray-200" >
            Rafraichir
        </a>
        <div style="height: 15px;"></div>
        <table id="membre-data" class="display dataTable w-full text-sm text-left text-gray-500" style="width:100%" aria-describedby="example_info">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50" >
                <tr>
                    <th scope="col"  class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Nom</th>
                    <th scope="col"  class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Téléphone</th>
                    
                    <th scope="col" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" >Groupes</th>
                    <th scope="col" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" >Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for membre in membres %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 ">
                                {{ membre.nom }}
                            </td>
                            <td class="px-6 ">
                                {{ membre.telephone }}
                            </td> 
                            <td class="px-6 ">
                                    {% for tag in membre.tags %}
                                        <span style="display: inline-block; padding:0.3rem; background-color: #2eb050; color: #fff; margin: 0.3rem; border-radius: 2px" class="shaddow-md" >
                                            {{ tag.name }}
                                        </span>
                                    {% endfor %}

                            </td>
                            
                            <td class="text-center">
                                    <span style=" display: inline-block; text-decoration: none; border: 1px solid #e0e0e0; padding: 8px;" onclick="updatemembre('{{ membre.id }}','{{ membre.nom }}', '{{ membre.postnom }}','{{ membre.prenom }}','{{ membre.genre }}','{{ membre.telephone }}', '{{ membre.datenaissance | date("Y-m-d") }}', '{{ membre.avatar }}','{{membre.federation ? membre.federation.id : '' }}', ' {{ membre.adresse }} ', ' {{ membre.numerocarte }} ')" class="cursor-pointer font-sm text-gray-600 hover:bg-yellow-500 hover:text-gray-100">Modifier</span>
                                    <a 
                                        style=" display: inline-block; text-decoration: none; border: 1px solid #e0e0e0; padding: 8px;" 
                                        href="/membre/delete/{{ membre.id }}"
                                        class="cursor-pointer font-sm bg-red-900 text-white hover:bg-red-500 hover:text-gray-100">Supprimer</a>
                                {% if get_env("SYSTEM_LICENCE") != 'STANDARD' and  get_env("SYSTEM_LICENCE") != 'MARKETING' %}
                                    {% if is_granted('ROLE_COTISATION') or is_granted("ROLE_ADMIN") %}
                                        <span style=" display: inline-block; text-decoration: none; border: 1px solid #e0e0e0; padding: 8px;"  class="cursor-pointer font-sm text-gray-100  bg-yellow-500 hover:bg-yellow-300 hover:text-gray-100"> <a href="{{ path('cotisation_show', {'id': membre.id })  }}" >Voir les cotisations</a> </span>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
            <tfoot class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col"  class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Nom</th>
                    <th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Numéro</th>
                    <th scope="col" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" >Groupes</th>
                    
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" >ACTIONS</th>
                </tr>
            </tfoot>
        </table>

        {% for message in app.flashes('error') %}
            <script>
                setTimeout(() => {
                    toastr.error(" {{ message }}".replaceAll("&#039;", "'"), "Erreur");
                }, 1000);
            </script>
        {% endfor %}
        {% for message in app.flashes('notice') %}
            <script>
                setTimeout(() => {
                    toastr.success(" {{ message }}".replaceAll("&#039;", "'"), "Validation");
                }, 1000);
            </script>
        {% endfor %}
        

        <div class="grid grid-cols-1 md:grid-cols-6 md:gap-3" >
            <button id="openmodal" class="mt-5 py-3 rounded rounded-sm px-3 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-green-700 rounded-sm border border-gray-200 hover:bg-green-200 hover:text-gray-800 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button" data-modal-toggle="defaultModal">
                <i class="fas fa-plus-circle"></i>
                Contact
            </button>
            
            <button id="openmodalexcel" class="mt-5 py-3 rounded rounded-sm px-3 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-gray-700 rounded-sm border border-gray-200 hover:bg-gray-200 hover:text-gray-800 focus:z-10 focus:ring-4 focus:ring-gray-200" type="button" data-modal-toggle="excelModal">
                <i class="fas fa-upload"></i>
                Excel
            </button>
            
        </div>
        
        <!-- Main modal -->
        <div id="defaultModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden center fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal h-full">
            <div
                class="relative p-4 w-full max-w-2xl h-full md:h-auto">
                <!-- Modal content -->
                <div
                    class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600">
                        <button type="button" id="defaultCloseModalButton" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                            <svg class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                        {% include "membre/form.html.twig" %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Excel modal -->
        <div id="excelModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden center fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
            <div
                class="relative p-4 w-full max-w-2xl h-full md:h-auto">
                <!-- Modal content -->
                <div
                    class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
                            Importation
                        </h3>
                        <button type="button" id="closeIconButton" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="excelModal">
                            <svg class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                        {% include "membre/excelform.html.twig" %}
                        <button id="closemodal" class="mt-5 py-3 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-yellow-500 rounded-sm border hover:bg-yellow-600 hover:text-gray-800 focus:z-10 focus:ring-4 focus:ring-gray-200" type="button" data-modal-toggle="defaultModal">
                            Annuler
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cotisation modal -->

        <form hidden id="printform" action="{{ path('membre_print') }}" method="post" >

        </form>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"  ></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" ></script>
    <script src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js" ></script>

    <script>
        let table = null;
        document.addEventListener('DOMContentLoaded', function () {
            table = new DataTable('#membre-data', {
                select: {
                    style: 'multi'
                },
                language: {
                    url: '/plugin/datatable.json'
                },
                pageLength: 10,
            });
        });

        let imprimercarte = document.getElementById("imprimercarte");
        if(imprimercarte){
            imprimercarte.addEventListener('click', tableSelected);
        }
        

        function tableSelected() {

            let tableCount = table.rows( { selected: true } ).count();
            if(tableCount > 0){
                let dataObject = table.rows( { selected: true } ).data();
                const container = document.getElementById("printform");
                let child = container.lastElementChild;
                while (child) {
                    container.removeChild(child);
                    child = container.lastElementChild;
                }
                for(let i =0; i < tableCount; i++){
                    //data.push(dataObject[i][0]);
                    var input = document.createElement("input");
                    input.type = "text";
                    input.hidden = true;
                    input.name = "membre_" + i
                    input.setAttribute('value', dataObject[i][0]);

                    container.appendChild(input); // put it into the DOM
                }
                container.submit();
            }
        }

        let modal = document.getElementById("defaultModal");
        let btn = document.getElementById("openmodal");
        let defaultCloseModalButton = document.getElementById("defaultCloseModalButton");

        let excelModal = document.getElementById("excelModal");
        let closeIconButton = document.getElementById("closeIconButton");
        let btnOpenExcelModal = document.getElementById("openmodalexcel");
        let btnCloseExcelModal = document.getElementById("openmodal");

        let btnClose = document.getElementById("closemodal");
        let nom = document.getElementById("membre_nom");
        //let postnom = document.getElementById("membre_postnom");
        //let prenom = document.getElementById("membre_prenom");
        //let genre = document.getElementById("membre_genre");
        //let datenaissance = document.getElementById("membre_datenaissance");
        //let photo = document.getElementById("membre_photo");
        let telephone = document.getElementById("membre_telephone");
        //let adresse = document.getElementById("membre_adresse");
        //let numerocarte = document.getElementById("membre_numerocarte");
        //let avatar = document.getElementById("membre_avatar")
        let btnSave = document.getElementById("membre_save");
        let form = document.getElementsByName("membre")[0] ;

        function updatemembre(_id, _nom, _postnom, _prenom, _genre,_telephone,  _datenaissance, _avatar, _federation, _adresse, _numerocarte){
            
            nom.value = _nom;
            //postnom.value = _postnom;
            //prenom.value = _prenom;
            //genre.value = _genre;
            //datenaissance.value = _datenaissance;
            telephone.value = _telephone;
            //adresse.value = _adresse;
            //numerocarte.value =_numerocarte;
            var filepath = "{{ url('login') }}" + _avatar;
            ///console.log(filepath);
            //avatar.src = filepath;
            

            modal.style.display = "block";
            let currentAction = `${form.action}`;
            let newIndex = currentAction.indexOf("new");
            if(newIndex > 0){
                currentAction = currentAction.replace("new", "")
            }else{
                newIndex = currentAction.indexOf("update");
                //boutton modifier deja cliquer une fois
                currentAction = currentAction.substring(0, newIndex)//
            }

            btnSave.textContent = "Mettre à jour"
            
            currentAction += `update/${_id}`;
            form.action = currentAction;
        }

        let membre = {}

        btnOpenExcelModal.onclick = function() {
            excelModal.style.display = "block";
        }

        defaultCloseModalButton.onclick = function() {
            modal.style.display = "none";
        }

        closeIconButton.onclick = function() {
            excelModal.style.display = "none";
        }

        btn.onclick = function () {
            
            btnSave.textContent = "Enregistrer"
            nom.value = "";
            //postnom.value = "";
            //prenom.value = "";
            //genre.value = "" ;
            //datenaissance.value = "";
            telephone.value = "";
            //adresse.value = "";
            //avatar.src = "";
            let currentAction = `${form.action}`;
            let newIndex = currentAction.indexOf("update");
            if(newIndex > 0){
                 currentAction = currentAction.substring(0, newIndex)
                 currentAction += `new`;
                form.action = currentAction;
            }
            
            modal.style.display = "block";

        }
        btnClose.onclick = function(){
            modal.style.display = "none";
        }
        //cotisations
        let closeCotisationButton = document.getElementById("closeCotisationButton");
        if(closeCotisationButton){
            closeCotisationButton.onclick = function (){
                cotisationModal.style.display = "none";
            }
        }
        

    </script>
    <script src="/assets/js/tom-select.complete.min.js"></script>
    <script>
        new TomSelect('#membre_tags', {
            maxItems: 5,
            items: ["Général"]
        });
    </script>
{% endblock %}
