{% extends 'dash.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="container">
            <h2>Tableau de Bord Electoral </h2>
            <div class="grid grid-cols-2 gap-5 mb-5" >
                <div class="m-3">
                    <a href="#" class="block p-6  bg-blue-500 rounded border border-gray-200 shadow-md hover:bg-blue-700 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white">Total Votants</h5>
                        <div class="grid grid-cols-2 gap-1">
                            <p class="font-bold text-xl text-white"><i class="fas fa-user fa-x fa-fw text-white"></i> {{ rapport.votants }} </p>
                        </div>

                    </a>
                    <a href="{{ path('federation_new') }}" class="block p-6  bg-gray-500 rounded border border-gray-200 shadow-md hover:bg-gray-700 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white">Nombres Voix</h5>
                        <div class="grid grid-cols-2 gap-1">
                            <p class="font-bold text-xl text-white"><i class="fas fa-building fa-x fa-fw text-white"></i> {{ rapport.voix }} </p>
                        </div>

                    </a>
                </div>
                <div class="chartbox barcart" >
                    <canvas id="genderchart"></canvas>
                </div>
            </div>
        
        {% for message in app.flashes('notice') %}
            <script>
                setTimeout(() => {
                    toastr.error(" {{ message }}".replaceAll("&#039;", "'"), "Erreur");
                }, 1000);
            </script>
        {% endfor %}
        
        
        <table id="federation-data" class="display dataTable w-full text-sm text-left text-gray-500 dark:text-gray-400" style="width:100%" aria-describedby="example_info">
            <thead>
                <tr>
                    <th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 131.172px;">Membre</th>
                    <th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 131.172px;">Téléphone</th>
                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 218.172px;">Election</th>
                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 39.0156px;">Regroupement</th>
                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 39.0156px;">Parti</th>
                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 39.0156px;">Code CENI</th>
                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"  style="width: 73.3125px;">ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                {% for candidat in candidats %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-4">
                                {{ candidat.membre }}
                            </td>
                            <td class="px-6 py-4">
                                {{ candidat.membre.telephone| replace({'+243':'0'}) }}
                            </td>
                            <td class="px-6 py-4">
                                {{ candidat.typeElection }}
                            </td>
                            <td class="px-6 py-4">
                                {{ candidat.regroupement }}
                            </td>
                            <td class="px-6 py-4">
                                {{ candidat.parti }}
                            </td>
                            <td class="px-6 py-4">
                                {{ candidat.codeCENI }}
                            </td>
                            <td class="px-6 py-4 flex flex-row">
                                <a href="/candidat/delete/{{ candidat.id }}" type="button" class="py-2 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 bg-red focus:outline-none rounded-sm border border-gray-200 hover:bg-red-300 hover:text-white focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Supprimer</button>
                                <a href="/resultat/{{ candidat.id }}" type="button" class="py-2 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 bg-green-300 rounded-sm border border-green-300">Détails</button>
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
        <button id="openmodal" class="mt-5 py-3 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-green-700 rounded-sm border border-gray-200 hover:bg-green-200 hover:text-gray-800 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button" data-modal-toggle="defaultModal">
            Nouveau Candidat
        </button>

        <!-- Main modal -->
        <div id="defaultModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden center fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
            <div
                class="relative p-4 w-full max-w-2xl h-full md:h-auto">
                <!-- Modal content -->
                <div
                    class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
                            Nouveau Temoin
                        </h3>
                        <buttonclosemodal id="closeicon" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                            <svg class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                        {% include "candidat/form.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"  ></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" ></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            let table = new DataTable('#federation-data', {
                language: {
                    url: '/plugin/datatable.json'
                }
            });
        });
        let modal = document.getElementById("defaultModal");
        let btn = document.getElementById("openmodal");
        let btnClose = document.getElementById("closemodal");
        let closeicon = document.getElementById("closeicon");

        let federation = {}
        btn.onclick = function () {
            let btnSave = document.getElementById("candidat_save");
            btnSave.textContent = "Nouveau Candidat"
            modal.style.display = "block";
        }
        btnClose.onclick = function(){
            modal.style.display = "none";
        }
        closeicon.onclick = function(){
            modal.style.display = "none";
        }
        
    </script>
    <script>
        const data = {
            labels: [
                'Total Votants',
                'Voix obtenu'
            ],
            datasets: [{
                label: 'Total/V.O',
                data: [{{ rapport.votants }}, {{ rapport.voix }}],
                backgroundColor: [
                'rgb(112, 111, 108)',
                'rgb(54, 162, 235)'
                ],
                hoverOffset: 2,
                responsive:true,
            }]
        };

        const config = {
            type: 'pie',
            data: data,
            options:{
                aspectRatio: 2
            }
        };
                
        const myChart = new Chart(
            document.getElementById('genderchart'),
            config
        );

    </script>

    <script>
        let labels2 = "{{ bureau_votes }}";
        labels2 = labels2.replaceAll("&quot;", "\"");
        labels2 = JSON.parse(labels2);

        const values = {{ rapport_bv }};
        const data2 = {
            labels: labels2,
            datasets: [{
                label: 'Voix par candidats',
                data: values,
                backgroundColor: [
                'rgba(112, 111, 108, 0.6)',
                'rgba(200, 200, 86, 0.6)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(112, 111, 95, 0.6)',
                'rgba(153, 102, 255, 0.6)',
                'rgba(201, 203, 207, 0.6)'
                ],
                borderColor: [
                'rgb(112, 111, 108)',
                'rgb(200, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(112, 111, 95)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
                ],
                borderWidth: 1,
            }]
        };

        const config2 = {
            type: 'bar',
            data: data2,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                 responsive:true,
                  aspectRatio:2
            },
        };

        const federation = new Chart(
            document.getElementById('federationchart'),
            config2
        );

    </script>
    
{% endblock %}
