{% extends 'dash.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .chartbox{
            padding: 5px;
        }

    </style>
    

        <div class="container">
            <div class="grid grid-cols-3 gap-1 mb-5">

                <a href="#" class="block p-6  bg-blue-500 rounded border border-gray-200 shadow-md hover:bg-blue-700 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white">Total Votants</h5>
                    <div class="grid grid-cols-2 gap-1">
                        <i class="fas fa-user fa-2x fa-fw text-white"></i>
                        <p class="font-bold text-2xl text-white"> {{ rapport.votants }} </p>
                    </div>

                </a>


                <a href="{{ path('federation_new') }}" class="block p-6  bg-gray-500 rounded border border-gray-200 shadow-md hover:bg-gray-700 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white">Nombres Voix</h5>
                    <div class="grid grid-cols-2 gap-1">
                        <i class="fas fa-building fa-2x fa-fw text-white"></i>
                        <p class="font-bold text-2xl text-white"> {{ rapport.voix }} </p>
                    </div>

                </a>

            </div>

            <div class="grid grid-cols-3 gap-2" >
                <div class="chartbox shadow-md col-span-2" >
                    <canvas id="federationchart"></canvas>
                </div>
                <div class="chartbox shadow-md barcart" >
                    <canvas id="genderchart"></canvas>
                </div>
            </div>
            <h3 class="mb-3 text-md font-200 tracking-tight text-gray-900 dark:text-white uppercase mt-3">Témoins
            </h3>
            <div class="relative overflow-x-auto shadow-md border">
                <table id="resultat_vote" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                BureauVote
                            </th>
                            <th scope="col" class="px-6 py-3">
                                nombreVotant
                            </th>
                            <th scope="col" class="px-6 py-3">
                                nombreVoix
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <span class="sr-only">Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for resultat in resultats %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                
                                <td class="px-6 py-4">
                                    {{ resultat.temoin.bureauVote }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ resultat.nombreVotant }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ resultat.nombreVoix }}
                                </td>
                            </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="mt-5 float-right">
                <a class="bg-blue-600 text-white p-3 rounded mt-5 hover:bg-blue-400" href="/resultat/pvs/{{ candidat_id }}" >Afficher tout les PVs</a>
            </div>
         </div>

    

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let table = new DataTable('#resultat_vote', {
                language: {
                    url: '/plugin/datatable.json'
                }
            });
        });
        const data = {
            labels: [
                'Total Votants',
                'Voix obtenu'
            ],
            datasets: [{
                label: 'Total/V.O',
                data: [{{ rapport.votants }}, {{ rapport.voix }}],
                backgroundColor: [
                'rgb(112, 111, 108)',
                'rgb(54, 162, 235)'
                ],
                hoverOffset: 2,
                responsive:true,
            }]
        };

        const config = {
            type: 'pie',
            data: data,
            options:{
                aspectRatio: 1
            }
        };
                
        const myChart = new Chart(
            document.getElementById('genderchart'),
            config
        );

    </script>

    <script>
        let labels2 = "{{ bureau_votes }}";
        labels2 = labels2.replaceAll("&quot;", "\"");
        labels2 = JSON.parse(labels2);

        const values = {{ rapport_bv }};
        const data2 = {
            labels: labels2,
            datasets: [{
                label: 'Voix par bureau de vote',
                data: values,
                backgroundColor: [
                'rgba(112, 111, 108, 0.6)',
                'rgba(200, 200, 86, 0.6)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(112, 111, 95, 0.6)',
                'rgba(153, 102, 255, 0.6)',
                'rgba(201, 203, 207, 0.6)'
                ],
                borderColor: [
                'rgb(112, 111, 108)',
                'rgb(200, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(112, 111, 95)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
                ],
                borderWidth: 1,
            }]
        };

        const config2 = {
            type: 'bar',
            data: data2,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                 responsive:true,
                  aspectRatio:2
            },
        };

        const federation = new Chart(
            document.getElementById('federationchart'),
            config2
        );

        

    </script>


{% endblock %}
