{# carte.html.twig #}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Carte</title>
    <link rel="stylesheet" href=" {{ asset('assets/css/styles.min.css') }}">
    <style>
        .page_break { page-break-before: always; }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Arial', sans-serif;
            font-size: 1.1em;
        }

        body{
            padding: 0;
            margin: 0;
        }

        .container {
            width: 100%;
        }

        .row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        /* content */
        .row div {
        }



        /* 1/12 */
        .col-1 {
            width: 8.33%;
        }

        /* 2/12 */
        .col-2 {
            width: 16.66%;
        }

        /* 3/12 */
        .col-3 {
            width: 25%;
        }

        /* 4/12 */
        .col-4 {
            width: 33.33%
        }

        /* 5/12 */
        .col-5 {
            width: 41.66%;
        }

        /* 6/12 */
        .col-6 {
            width: 50%;
        }

        /* 7/12 */
        .col-7 {
            width: 58.33%;
        }

        /* 8/12 */
        .col-8 {
            width: 66.66%;
        }

        /* 9/12 */
        .col-9 {
            width: 75%;
        }

        /* 10/12 */
        .col-10 {
            width: 83.33%;
        }

        /* 11/12 */
        .col-11 {
            width: 91.66%;
        }

        /* 12/12 */
        .col-12 {
            width: 100%;
        }

        /* viewport <= 1000px */
        @media screen and (max-width: 1000px) {
            * {
                font-size: 1em;
            }
        }

        /* viewport <= 630px */
        @media screen and (max-width: 630px) {
            .row div {
                padding: 1.5%;
            }
        }

        /* viewport <= 500px */
        @media screen and (max-width: 500px) {
            * {
                font-size: 0.9em;
            }
        }
    </style>
</head>



<body >
{% if membres %}

    {% for membre in membres %}
        <div style="height: 850px;" >
            <div class="row" style="background-color: #1c1f23 !important;" >
                <div class="col-3 offset-md-0"
                     style="background: url('{{ asset('assets/img/logo.png') }}') center / contain no-repeat;"></div>
                <div class="col-6 col-lg-6">
                    <h1 style="text-align: center;font-size: 21.52px;margin: 5px; color: #FFF">République
                        Démocratique du Congo</h1>
                    <h1 style="color: #B33030;text-align: center;font-size: 22.52px;margin: 5px;">ACTIONS DES ALLIIES
                        POUR LE DEVELOPPEMENT SOCIAL</h1>
                    <h1 style="text-align: center;font-size: 25.52px;margin: 5px; color: #FFF">CARTE DE
                        MEMBRE</h1>
                </div>
                <div class="col-3" style="background: url(' {{ asset('assets/img/drapeau.png') }} ') center / cover no-repeat;"></div>
            </div>
            <div class="row">
                <div class="col-3" style="margin: auto; padding-left: 4%">
                    <div class="card" style="height: 250px; width: 250px;border: 1px solid #f0f0f0; border-radius: 5px">
                        <div style="text-align: center; padding: 10px; " ><img id="photo" src="/{{ membre.avatar }}" width="230" height="230" style="object-fit: fill" ></div>
                    </div>
                </div>
                <div class="col-6" style="padding: 20px;">
                    <p style="font-size: 18px; margin-bottom: 15px;" id="infos"><span style="font-weight: bold;"> Nom: </span> {{ membre.nom }} </p>
                    <p style="font-size: 18px; margin-bottom: 15px;" id="infos"><span style="font-weight: bold;">Postnom: </span> {{ membre.postnom }} </p>
                    <p style="font-size: 18px; margin-bottom: 15px;" id="infos"><span style="font-weight: bold;">Prenom: </span> {{ membre.prenom }} </p>
                    <p style="font-size: 18px; margin-bottom: 15px;" id="infos"><span style="font-weight: bold;">Date de  naissance:</span>  {{ membre.datenaissance | date("d/m/Y") }} </p>
                    <p style="font-size: 18px; margin-bottom: 15px;" id="infos"><span style="font-weight: bold;">Sexe: </span> {{ membre.genre }} </p>
                    <p style="font-size: 18px; margin-bottom: 15px;" id="infos"><span style="font-weight: bold;">Adresse: </span> {{ membre.adresse }} </p>
                    {% if membre.federation.federation %}
                        <p style="font-size: 18px; margin-bottom: 15px;" id="infos"> <span style="font-weight: bold;"> Fédération: <span></span> {{ membre.federation.nom }} / {{ membre.federation.federation.nom }} </p>
                    {% else %}
                        <p style="font-size: 18px; margin-bottom: 15px;" id="infos"> <span style="font-weight: bold;"> Fédération: </span>  {{ membre.federation.nom }} </p>
                    {% endif %}

                </div>
                <div class="col-3" style="padding: 10px;">
                    <p id="numeroID" style="padding: 20px" class="h3">No. {{ membre.noidentification }}</p><img
                            src="https://chart.googleapis.com/chart?chs=300x300&amp;cht=qr&amp;chl={{ membre.noidentification }}&amp;choe=UTF-8"
                            style="width: 200px;">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p id="deliveryDate" style="text-align: center; font-size: 18px" >Délivrée le: {{ "now"|date("d/m/Y") }}</p>
                </div>
            </div>
        </div>
        <div class="page_break"></div>
    {% endfor %}
{% endif %}

</body>

</html>