{# carte.html.twig #}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Carte</title>
    <style>

        body{
            margin: 0;
            padding: 0;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Arial', sans-serif;
            font-size: 1.1em;
        }

        .container {
            width: 100%;
        }

        .row {
        }

        /* 1/12 */
        .col-1 {
            width: 8.33%;
        }

        /* 2/12 */
        .col-2 {
            width: 16.66%;
        }

        /* 3/12 */
        .col-3 {
            width: 25%;
        }

        /* 4/12 */
        .col-4 {
            width: 33.33%
        }

        /* 5/12 */
        .col-5 {
            width: 50%;
        }

        /* 6/12 */
        .col-6 {
            width: 50%;
        }

        /* 7/12 */
        .col-7 {
            width: 58.33%;
        }

        /* 8/12 */
        .col-8 {
            width: 66.66%;
        }

        /* 9/12 */
        .col-9 {
            width: 75%;
        }

        /* 10/12 */
        .col-10 {
            width: 83.33%;
        }

        /* 11/12 */
        .col-11 {
            width: 91.66%;
        }

        /* 12/12 */
        .col-12 {
            width: 100%;
        }

        #rightPanel::after{
            content: "";
            background: url({{ url('login') ~  'assets/img/congo.png' }});
            background-size: contain;
            background-repeat: no-repeat ;
            opacity: 0.2;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            height: 55%;
            margin-top: 15%;
            z-index: -1;
        }

    </style>
</head>



<body>
{% if membres %}

    {% for membre in membres %}
        <div style="width: 100%; height: 100%; border: 1px solid #e0e0e0; overflow:hidden;  border-radius: 5px; background-color: #fefefe" >
            <div class="row" style="background-color: #1c1f23 !important; overflow:hidden; height: 25%; padding: 0; margin: 0;" >
                <div class="col-2" style="padding-top: 0.5%; float:left;">
                    <img src="{{ url('login') ~ 'assets/img/logo.png' }}" style="height: 80%; object-fit: contain" >
                </div>
                <div class="col-7" style="padding: 1%;float:left;">
                    <h1 style="text-align: center;font-size: 60%; color: #FFF; text-transform: uppercase">République
                        Démocratique du Congo</h1>
                    <h1 style="color: #B33030;text-align: center;font-size: 60%;">ACTIONS DES ALLIES
                        POUR LE DEVELOPPEMENT SOCIAL</h1>
                    <h1 style="text-align: center;font-size: 65%;color: #FFF; margin-top: 1%">CARTE DE
                        MEMBRE</h1>
                </div>
                <div class="col-3" style="float:left;">
                    <img src="{{ url('login') ~  'assets/img/drapeau.png' }}" style="bject-fit: contain">
                </div>
            </div>

            <div style=" height: 60%; width: 100%; ">
                <div  style="padding: 2%;width: 97%; height: 93%; float:right;">
                        <div style="float: left ; padding-bottom: 1%; padding-right: 1%;  width: 25%; " >
                            <img id="photo" src="{{ url('login')  ~ membre.avatar }}" style="object-fit: fill; width: 75%; height: 80%; border: 1px solid #ebebeb; border-radius: 5px" >
                        </div>
                        <div style="float: right ; width: 80%; background-color: transparent; padding-left: 10%" >
                            <div>
                                <p style="font-size: 50%; margin-bottom: 1%;" id="infos"><span style="font-weight: bold;"> Nom: </span> {{ membre.nom }} </p>
                                <p style="font-size: 50%; margin-bottom: 1%" id="infos"><span style="font-weight: bold;">Postnom: </span> {{ membre.postnom }} </p>
                                <p style="font-size: 50%; margin-bottom: 1%;" id="infos"><span style="font-weight: bold;">Prenom: </span> {{ membre.prenom }} </p>
                                <p style="font-size: 50%; margin-bottom: 1%;" id="infos"><span style="font-weight: bold;">Date de  naissance:</span>  {{ membre.datenaissance | date("d/m/Y") }} </p>
                                <p style="font-size: 50%; margin-bottom: 1%;" id="infos"><span style="font-weight: bold;">Sexe: </span> {{ membre.genre }} </p>
                                <p style="font-size: 50%; margin-bottom: 1%;" id="infos"><span style="font-weight: bold;">Adresse: </span> {{ membre.adresse }} </p>
                                {% if membre.federation.federation %}
                                    <p style="font-size: 50%; margin-bottom: 1%;" id="infos"> <span style="font-weight: bold;"> Fédération: <span></span> {{ membre.federation.nom }} / {{ membre.federation.federation.nom }} </p>
                                {% else %}
                                    <p style="font-size: 50%; margin-bottom: 1%;" id="infos"> <span style="font-weight: bold;"> Fédération: </span>  {{ membre.federation.nom }} </p>
                                {% endif %}
                            </div>
                        </div>

                </div>
                <div id="rightPanel" style="padding: 1%;float: right; width: 25%; height: 93%;">
                    <p id="numeroID" style="padding-top: 2%; margin-bottom: 1%; font-size: 50%; font-weight: bold" class="h3">No. {{ membre.noidentification }}</p><img
                            src="https://chart.googleapis.com/chart?chs=300x300&amp;cht=qr&amp;chl={{ membre.noidentification }}&amp;choe=UTF-8"
                            style="width: 60%">
                </div>

            </div>
            <div class="row" style="height: 6%; padding: 2%; bottom: 0;background-color: #DA1212 ">
                <div class="col-12">
                    <p id="deliveryDate" style="text-align: center; font-size: 50%" >Délivrée le: {{ "now"|date("d/m/Y") }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

</body>

</html>