{% extends 'dash.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .chartbox{
            padding: 5px;
        }

    </style>
    
    <div class="container">
            <div class="grid md:grid-cols-3 md:gap-1 sm:grid-cols-1 sm:gap-0">

                <div>
                    <p class="text-xl heading-1 text-gray-600" >SMS Marketing<p>
                </div>
                <div></div>

                {% if get_env("SYSTEM_LICENCE") != 'STANDARD' %}
                    <a href="#" class="block p-6  bg-green-500  rounded border border-gray-200 shadow-md hover:bg-green-700 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="mb-2 text-2xl  tracking-tight text-white dark:text-white">Cotisations</h5>
                        <div class="grid grid-cols-2 gap-1">
                            <p class="font-light text-2xl text-white"><i class="fas fa-wallet fa-x fa-fw text-white"></i> 
                            <span class="ml-5" >{{ totalMontant | number_format(0, '.', ' ') }}</span> FC</p>
                        </div>
                    </a>
                {% endif %}

                <div>

                    <p class="font-light text-sm text-gray-800 float-right mb-3">
                        <i class="fas fa-user fa-x fa-fw text-blue-800"></i>
                        <span> {{ membreCount }} contacts </span>
                        <i class="fas  fa-envelope fa-x fa-fw text-blue-800"></i> <span> {{ (credits / 1.5 ) | number_format(0, '.', ' ') }} messages </span>
                    </p>
                </div>
                
            </div>
            <hr class="mb-3" />
            {% if get_env("SYSTEM_LICENCE") != 'STANDARD' %}
                <div class="grid md:grid-cols-3 md:gap-2 sm:grid-cols-1 sm:gap-0" >
                    <div class="chartbox shadow-md col-span-2" >
                        <canvas id="federationchart"></canvas>
                    </div>
                    <div class="chartbox shadow-md barcart" >
                        <canvas id="genderchart"></canvas>
                    </div>
                </div>
            {% endif %}
            <form method="POST" action="{{ path('dashboard_send') }}" >
                <div class="bg-gray-300 p-6 rounded" >
                    <h3 class="text-xl text-gray-600 mb-3" >Nouveau Message</h3>
                    <input type="text" id="phone" name="phone" placeholder="Tél: +243..." />
                    <p>Message</p>
                    <textarea name="message" id="diffusion_content"></textarea>
                    <p style="font-size: 10px" class="text-gray-600" id="sms_counter"></p>
                    <button type="submit" class="mt-5 py-2 rounded px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-blue-500 rounded-sm border hover:bg-blue-600 hover:text-gray-800 focus:z-10 focus:ring-4 focus:ring-gray-200">Envoyer</button> 
                </div>
            </form>
         </div>

    

    <script>
        const data = {
            labels: [
                'Femme',
                'Homme'
            ],
            datasets: [{
                label: 'Homme/Femme',
                data: {{ membreValuesChart2 }},
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)'
                ],
                hoverOffset: 2,
                responsive:true,
            }]
        };

        const config = {
            type: 'pie',
            data: data,
            options:{
                aspectRatio: 1
            }
        };
                
        const myChart = new Chart(
            document.getElementById('genderchart'),
            config
        );

    </script>

    <script>
        let labels2 = '{{ membreLabels }}';
        labels2 = labels2.replaceAll("&quot;", "\"");
        labels2 = JSON.parse(labels2);

        const values = {{ membreValues }};
        const data2 = {
            labels: labels2,
            datasets: [{
                label: 'Membres par Fédération',
                data: values,
                backgroundColor: [
                'rgba(255, 99, 132, 0.6)',
                'rgba(255, 159, 64, 0.6)',
                'rgba(200, 200, 86, 0.6)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(153, 102, 255, 0.6)',
                'rgba(201, 203, 207, 0.6)'
                ],
                borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(200, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
                ],
                borderWidth: 1,
            }]
        };

        const config2 = {
            type: 'bar',
            data: data2,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                 responsive:true,
                  aspectRatio:2
            },
        };

        const federation = new Chart(
            document.getElementById('federationchart'),
            config2
        );

    </script>

    <script>
        const messageArea = document.getElementById("diffusion_content");
        const smsCounter = document.getElementById("sms_counter");
        messageArea.onkeyup = function(val){
            let no_chars = messageArea.value.length;
            if(no_chars == 0){
                smsCounter.innerText = ''
            }else {
                const count = parseInt(no_chars / 150) + 1;
                smsCounter.innerText = count + ' SMS';
            }
            
        }
    </script>

{% endblock %}
