{% extends 'dash.html.twig' %}

{% block stylesheet %}
<link href="/assets/css/tom-select.css" rel="stylesheet"/>
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <h3 class="mb-3 text-md font-200 tracking-tight uppercase text-gray-900 dark:text-white  mt-3">Membres
    </h3>
    <a href="{{ path('user_show') }}" class="mt-5 py-3 px-5 mr-2 mb-5 text-sm font-medium text-white rounded focus:outline-none bg-gray-700 rounded-sm border border-gray-200" >
        Rafraichir
    </a>
    <div style="height: 15px;"></div>
    <table id="membre-data" class="display dataTable w-full text-sm text-left text-gray-500" style="width:100%" aria-describedby="example_info">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50" >
        <tr>
            <th scope="col"  class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Nom d'utilisateur</th>
            <th scope="col"  class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Nom</th>
            <th scope="col" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" >Postnom</th>
            <th scope="col" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" >Prenom</th>
            <th scope="col" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" >Roles</th>
            <th scope="col" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" >Statut</th>
            <th scope="col" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" >Date De creation</th>
            <th scope="col" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" ><span class="sr-only">Edit</span></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 ">
                    {{ user.username }}
                </td>
                <td class="px-6 ">
                    {{ user.nom }}
                </td>
                <td class="px-6 ">
                    {{ user.postnom }}
                </td>
                <td class="px-6 ">
                    {{ user.prenom }}
                </td>
                {% set strRoles = user.roles | join(" | ") %}
                <td class="px-6 ">
                    {{ strRoles }}
                </td>
                <td class="px-6 ">
                    {{ user.active ? 'Actif' : 'Inactif' }}
                </td>
                <td class="px-6 ">
                    {{ user.datecreation | date("d/m/Y")  }}
                </td>

                <td class="text-center">
                    <a href="" style="text-decoration: none; border: 1px solid #e0e0e0; padding: 8px;  " class="font-sm text-gray-600 hover:bg-yellow-500 hover:text-gray-100">Modifier</a>
                    <a href="/account/deactivate/{{ user.id }}" style="text-decoration: none; border: 1px solid #e0e0e0; padding: 8px;  " class="font-sm text-gray-100 bg-red-600 hover:bg-red-700 hover:text-gray-100">Desactiver</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
            <th scope="col"  class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Nom d'utilisateur</th>
            <th scope="col"  class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Nom</th>
            <th scope="col" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" >Postnom</th>
            <th scope="col" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" >Prenom</th>
            <th scope="col" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" >Roles</th>
            <th scope="col" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" >Date De creation</th>
            <th scope="col" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" ><span class="sr-only">Edit</span></th>
        </tr>
        </tfoot>
    </table>

    <div class="grid md:grid-cols-6 md:gap-3" >
        <button id="openmodal" class="mt-5 py-3 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-green-700 rounded-sm border border-gray-200 hover:bg-green-200 hover:text-gray-800 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button" data-modal-toggle="defaultModal">
            Ajouter un Utilisateur
        </button>

    </div>

    <div id="defaultModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden center fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
        <div
                class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <!-- Modal content -->
            <div
                    class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
                        Formulaire d'identification
                    </h3>
                    <button type="button" id="closeModal" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                        <svg class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    {% include "user/form.html.twig" %}
                </div>
            </div>
        </div>
    </div>

</div>
    <script>

        let openmodal = document.getElementById("openmodal");
        let defaultModal = document.getElementById("defaultModal");
        let closeModal = document.getElementById("closeModal");
        let btnCloseModal = document.getElementById("btnclosemodal");

        openmodal.onclick = function(){
            defaultModal.style.display = "block";
        }

        closeModal.onclick = function(){
            defaultModal.style.display = "none";
        }

        btnCloseModal.onclick = function(){
            defaultModal.style.display = "none";
        }

    </script>
    <script src="assets/js/tom-select.complete.min.js"></script>
    <script>
        new TomSelect('#user_roles   ', {
            maxItems: 5,
        });
    </script>

{% endblock %}
